/*--------------------------------------SECTION 1------------------------------ */

.sec1style {
  background-color: #c10000;
  text-align: center;
  color: white;
  font-family: 'Days One', sans-serif;
  width:100%;
  padding: 200px 0 200px 0;
  letter-spacing: 5px;
}

.navbardim {
  padding-bottom: 45px;
}

/*--------------------------------------SECTION 2------------------------------ */

.sec2 {
  background-color: white;
  padding: 80px 0 80px 0;
}

.empimgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.licolor{
  padding:0 ;
  margin: 0 3px 0 3px;
  background-color: grey;
}

/*--------------------------------------SECTION 3------------------------------ */
.sec3{
  padding:10px 0 0 0;
}

.sec3h1 {
  color: black;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 30px;
}

.sec3img{
  padding-top: 80px;
}

/* --------------------------------------SECTION 4------------------------------------ */
.sec4 {
  background-color: #c10000;
  text-align: center;
}

.sec4h1 {
  color: white;
  padding-top: 100px;
}

.sec4h4 {
  color: white;
  padding: 50px
}

.sec4pad {
  padding-top: 38px;
  padding-bottom: 20px;
}

/* ---------------------------------------SECTION 5------------------------------------- */
.sec5 {
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
}

.sec5img {
  height: 300px;
  width: 300px;
}

.sec5h1 {
  padding: 45px;
}

/* ---------------------------------------SECTION 6------------------------------------- */
.sec6 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #c10000;
}

.sec6img {
  height: 300px;
  width: 300px;
}

.sec6h1 {
  padding: 45px;
  color: white;
}

.sec6h4 {
  color: white;
  padding-left: 15px;
  padding-bottom: 10px;
}

/* ------------------------------------SECTION 7-----------------------------------------  */
.sec7 {
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
  background-color: white;
}

.sec7img {
  height: 300px;
  width: 300px;
}

.sec7h1 {
  padding: 45px;
  color: black;
}

.sec7h4 {
  color: black;
  padding:0 20px 0 20px;
}

/* ------------------------------------SECTION 8-----------------------------------------  */
.sec8 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #c10000;
}

.sec8img {
  height: 300px;
  width: 300px;
}

.sec8h1 {
  padding: 45px;
  color: white;
}

.sec8h4 {
  color: white;
  padding-left: 15px;
  padding-bottom: 10px;
}

/* ------------------------------------SECTION 9-----------------------------------------  */
.sec9 {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background-color: white;
}

.sec9img {
  height: 300px;
  width: 300px;
}

.sec9h1 {
  padding: 45px;
  color: black;
}

.sec9h4 {
  color: black;
}

/* ------------------------------------SECTION 10-----------------------------------------  */
.sec10 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #c10000;
}

.sec10img {
  height: 300px;
  width: 300px;
}

.sec10h1 {
  padding: 45px;
  color: white;
}

.sec10h4 {
  color: white;
  padding-left: 15px;
  padding-bottom: 10px;
}

/* ------------------------------------SECTION 11-----------------------------------------  */
.sec11 {
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
}

.sec11img {
  height: 300px;
  width: 300px;
}

.sec11h1 {
  padding: 45px;
  color: black;
}

.sec11h4 {
  color: black;
}

.sec11img2 {
  padding: 30px;
}

/* ------------------------------------SECTION 12-----------------------------------------  */
.sec12h1 {
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* ------------------------------------SECTION 13-----------------------------------------  */
.sec13h3 {
  color: black;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}

.sec13h1 {
  text-align: center;
  padding: 20px;
}

.sec13img {
  padding: 20px;
  height: 200px;
  width: 200px;
}

.sec13h4 {
  padding-bottom: 50px;
  padding-top: 20px;
}

span {
  color: red;
}

.navitemcolor{
  color:#c10000;
}

/* ------------------------------------SECTION 14-----------------------------------------  */
.sec14h2 {
  text-align: center;
  padding-top: 20px;
}
.sec14h3{
  text-align: center;
padding: 80px 0 10px 0;
}


.sec14h5 {
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
}

/* ------------------------------------SECTION 15-----------------------------------------  */
.sec15h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.sec15h5 {
  text-align: center;
  padding: 35px 0 200px 0;
}

.sec15h3 {
  text-align: center;
  padding: 10px;
}

.sec15img {
  text-align: center;
  padding: 30px 0 0 10px;;
}

.sec15{
  padding:90px 0 50px 0;
}

.colpadding{
  padding-top: 20px;
  text-align: center;
  height:350px;
}

/* ------------------------------------SECTION 16-----------------------------------------  */

.sec16padding{
  text-align: center;
  padding:150px 0 0 0;
  margin-top: 150px;
}


.sec16padding2{
  text-align: center;
  padding:60px 0 0 0;
  margin-top: 20px;
}


.sec16{
margin:130px 0 90px 0;
}
/* ------------------------------------SECTION 17 18 19 20 position- ----------------------------------------  */

.secpadding{
  text-align: center;
  padding: 20px;
  margin: 30px 0 50px 0;
}


/* ------------------------------------LLAST SECTION -----------------------------------------  */

.lasth2{
  padding: 0 0 50px 0;
}
.lastsec{
  margin-top:100px;
  background-color: #c10000;
  color:white;
  padding: 100px 0 150px 0;
}

.thnku{
  padding: 150px 0 200px 0;
  background-color:white;
  text-align: center;
  color:#c10000;
  font-weight: bolder;
}
